snippet toc "Table Of Contents"
.. toctree::
	:caption: ${1:Table of contents}
	:maxdepth: ${2:1}

	$0
endsnippet

snippet h1 "Headline Level 1"
${1:Title}
`!p snip.rv = '=' * len(t[1])`
$0
endsnippet

snippet h2 "Headline Level 2"
${1:Title}
`!p snip.rv = '-' * len(t[1])`
$0
endsnippet

snippet doc "Reference to other document"
:doc:\`$1\`$0
endsnippet
